cabarchive==0.2.4
cffi==2.0.0
click==8.3.1
colorama==0.4.6
cryptography==46.0.3
cx_Freeze==8.5.0
filelock==3.20.0
flanders==0.3.2
freeze-core==0.4.1
lief==0.17.1
packaging==25.0
pycparser==2.23
PySide6==6.10.1
PySide6_Addons==6.10.1
PySide6_Essentials==6.10.1
shiboken6==6.10.1
striprtf==0.0.29
